@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
    background-color: #FBFBFB;
    font-family: 'Inter', sans-serif;
}

.th-split-border::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: rgba(34, 40, 49, 0.10);
}